@model Domain.DTO.AddToShoppingCartDto

@{
    // Layout = null;
    ViewData["Title"] = "AddToCart";
}

<h2>Add the selected product to shopping cart</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddToCart">
            <input type="hidden" asp-for="TicketId"/>
            <div class="form-group">
                Name: 
                <input disabled class="form-control" asp-for="SelectedTicket.TicketName"/>
            </div>
            <div class="form-group">
                Quantity:
                <input type="number" class="form-control" asp-for="Quantity"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>